.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml

ios/Connascence/Connascence.xcodeproj/project.xcworkspace/xcuserdata/
ios/Connascence/Connascence.xcodeproj/xcuserdata/