.DS_Store
android/build
/captures
*.iml

android/.idea/
android/local.properties
android/.gradle

ios/Connascence/Connascence.xcodeproj/project.xcworkspace/xcuserdata/
ios/Connascence/Connascence.xcodeproj/xcuserdata/